<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">StoryBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if (user) { %>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My Stories</a>
        <a class="nav-item nav-link" href="/api/newstory">Create New Story</a>
      </div>
      <% } %>
    </div>
    <% if (!user) { %>
      <div>
        <a class="btn btn-primary" href="api/login">Login</a>
        <a class="btn btn-primary" href="api/register">Register</a>
      </div>
    <% } else { %>
    <form class="form-inline" action="api/logout" method="POST">
      <div>
        Logged in as: <%= user.email %>
        <% console.log('from headers:', user) %>
        <button type="submit" class="btn btn-outline-primary">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>
