<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>StoryBoard</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main class="container">
    <section class="story-box">
      <ul>
       <a href= "/api/users"> <li>story1</li></a>
       <a href= "#"> <li>story2</li></a>
       <a href= "#"> <li>story3</li></a>
       <a href= "#"> <li>story4</li></a>
       <a href= "#"> <li>story5</li></a>


      </ul>




    </section>

  </main>




</body>
</html>
