<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
<!-- App JS -->
<script type="text/javascript" src="/scripts/app.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/newstorypage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <title>newstory</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1.5em">
      <div class="header">
        <h3>StoryBoard-power of collaborative imagination</h3>
      </div>
      <section>
        <form
          action="/api/newstory"
          method="POST"
          id="story-title"
          class="story-title"
        >
          <div>
            <textarea
              id="title"
              name="title"
              placeholder="Title"
              rows="1"
              cols="60"
            ></textarea>
          </div>
          <br /><br />
          <div>
            <textarea class="big-box"
              id="contents"
              name="contents"
              placeholder="Story"

            ></textarea>

          <div>Author : <%=user.name%></div>
          <div class="story-wrapper">
            <input type="submit" value="Submit" />

            <button type="button" onclick="clearArea()">clear</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
