<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>newstory</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em">
      <div>
        <h3>StoryBoard-power of collaborative imagination</h3>
      </div>
      <section>
        <form
          action="/api/newstory"
          method="POST"
          id="story-title"
          class="story-title"
        >
          <div>
            <textarea id="title" name="title" placeholder = "Title"rows="1" cols="50"></textarea>
          </div>
          <br/><br/>
          <div>
          <textarea id="content" name="story-content" placeholder = "Story "rows="10" cols="75"></textarea>
          </div>
          <div>Author Status:</div>

          <div class="story-wrapper">
            <input type="submit" value="Submit" />
          </div>
          <div class="story-wrapper">
            <input type="submit" value="Cancel" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
