@import './variables';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background: $backgroundColor;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.story_listing {
  padding: 200em;
}

.story-listing__preview {
  display: flex;
  flex-direction:column;
  justify-content: stretch;
}
.story-listing__previews__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-listing__previews__details {
  height: fit-content;
}

.story-text{
  border : 50px;
  background-color: red;
  color: aqua;
}
