@import './variables';

body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background: $backgroundColor;
}

.slogan {
  margin-left: 1.5em;
  padding-top: 4.5em;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.story_listing {
  padding: 200em;
}

.story-listing__preview {
  display: flex;
  flex-direction:column;
  justify-content: stretch;
}
.story-listing__previews__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-listing__previews__details {
  height: fit-content;
}


