@import './variables';
body
 {
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: stretch;
   background: $backgroundColor;
 }
div.story-wrapper{
  margin-top: 2em;
  margin-right: 2em;
  display: flex;


}
.big-box{
  border-radius: 0 !important;
  width: 60%;
  height: 300px;
  padding-top: 10px;
 }

#cbtn{
  color: black;
}
#sbtn{
  color: black;
}
