@import './variables';

body
 {
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: stretch;
   background: $backgroundColor;
 }
// ::placeholder.big-box {
//   padding-top: 50px;
// }
div.story-wrapper{
  margin-top: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;

}
.big-box{
  border: 1px;
  width: 50%;
  height: 300px;
  padding-top: 10px;
 }




