@import './variables';

body{
  display: flex;
  justify-content: stretch;
}
main{
  padding-left: 10px;
  padding-right: 10px;
}

.story-text{
  border : 500px;

}


#yourContribution{
  border-radius: 0 !important;
  width: 300px;
  height: 100px;

 }

 #storyHolder{
   max-width: 1500px;

 }
