@import './variables';

body{
  display: flex;
  align-items: center;
}
main{
  padding-left: 10px;
  padding-right: 10px;
}

.container{
  margin: 0;
  padding: 0;
}

.approve-reject{
  display: flex;
  flex-direction: row;
}

#yourContribution{
  border-radius: 0 !important;
  width: 300px;
  height: 100px;

 }

 #storyHolder{
   max-width: 1500px;

 }

 .contributions-container {
  border: 0.5px solid; 
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  }



 .contribution-text{
   border-bottom: 1px solid;
 }

 .contributions-footer{
   color: rgb(68, 68, 158);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   padding-left: 10px;
   padding-right: 10px;
    
 }
 #contribution-status{
   display: flex;
   align-items: flex-end;
 }
